.header {
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center the content horizontally */
  padding: 10px 20px;
  background-color: #f8f9fa;
  /* Light background color */
  /* Remove border-bottom property */
}

.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  /* Center the text */
  flex-grow: 1;
  /* Allow the title to take up available space */
  margin: 0;
}