/* Profile.css */

.profile-page {
  min-height: 100vh; /* Ensures the container takes up at least the full viewport height */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns content at the top */
  padding: 20px;
  overflow: hidden; /* Ensures content doesn't overflow */
}

.profile-card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Space at the bottom of the card */
}

.mb-4 {
  margin-bottom: 1.5rem; /* Adds margin bottom for spacing between fields */
}

.edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logout-button {
  margin-top: 20px; /* Adds margin top for spacing between fields and button */
}

.profile-img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
