body {
    background-color: aliceblue;
    overflow-y: scroll;
}
html { overflow-y: scroll; }

.Toastify__toast--success {
    background: #28a745;
}

.Toastify__toast--error {
    background: #dc3545;
}

.Toastify__toast--info {
    background: #17a2b8;
}