html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* Ensure the body takes the full height of the viewport */
  width: 100%;
  /* Ensure the body takes the full width of the viewport */
  overflow: hidden;
  /* Prevent scrolling to ensure loader covers entire viewport */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}