/* Main container for the text editor */
.text-editor {
    width: 700px;
    height: 300px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
}

.toolbar {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #eaeaea;
    z-index: 1000;
    position: relative;
}

.fullscreen-toolbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #eaeaea;
    padding: 10px;
    z-index: 9999;
    border-bottom: 1px solid #ddd;
}

.toolbar button {
    background: none;
    border: none;
    padding: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
    margin-right: 10px;
    outline: none;
}


.toolbar button.active {
    background-color: #a0baec;

    border-radius: 5px;
}


.toolbar select {
    margin-left: auto;
    padding: 5px;
}

/* Editable area */
.editable {
    flex-grow: 1;
    padding: 10px;
    outline: none;
    /* Remove default outline */
    transition: border 0.3s;
    overflow-y: auto;
    background-color: #fff;
    /* min-height: 200px; */
}

/* Editable area focus */
.editable:focus {
    border: 1px solid #007bff;
    /* Blue border on focus */
}

/* Fullscreen styles */
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.fullscreen .editable {
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1;
    background-color: #fff;
    border: none;
    width: 100vw;
    height: 300px;
}

.isSpeaking {
    margin: 50px;
}

.isSpeaking .fullscreen {
    position: absolute;
    z-index: 9999;
    padding-top: 20vh;
}